<template>
<div class="home content">
  <div class="wrapper">
    <!--
    <button @click="connect">connect</button>
    -->
    <div class="small-wrapper total-passed-time">
      <span class="total-passed-time-text">
        total: {{totalPassedTime}}
      </span>
    </div>
    <ul>
      <li v-if="actors.length > 0">
        <PauseBox></PauseBox>
      </li>
      <li v-for="actor in actors" :key="actor.id">
        <Box :actor="actor"></Box>
      </li>
    </ul>
    <NewActor></NewActor>
  </div>
</div>
</template>

<script>
import Box from "@/components/Box";
import NewActor from "@/components/NewActor";
import PauseBox from "@/components/PauseBox";
import {displayAsTime} from "@/utils/utils";

export default {
  name: 'Home',
  components: {
    PauseBox,
    NewActor,
    Box
  },
  computed: {
    actors() {
      console.log("actors() in Home")
      console.log(this.$store.getters.actors)
      return this.$store.getters.actors;
    },
    totalPassedTime() {
      return displayAsTime(this.$store.getters.passedTime);
    }
  },
  methods: {
  }
}
</script>

<style scoped>
.home {
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.total-passed-time {
  margin: 0 0 15px 0
}
.total-passed-time-text {
  margin: auto;
}
</style>

