<template>
<div class="info content">
  <div class="wrapper">
    <div class="small-wrapper">
      <b>Introduction</b><br>
      How much time did a candidate in a debate actually use?
      How log did everyone's turns during a board game actually take?
      This page is able to track the time of multiple actors doing something.
    </div>
    <div class="small-wrapper" v-if="accountIdPresent">
      <b>Share your timer</b><br>
      <input id="shareTimerLinkId" :value="shareTimerLink">
      <button @click="copy('shareTimerLinkId')">copy</button>
      <button @click="openCurrentTimer">go</button>
    </div>
    <div class="small-wrapper">
      <b>Create new timer</b><br>
      <input id="createTimerLinkId" :value="createTimerLink">
      <button @click="copy('createTimerLinkId')">copy</button>
      <button @click="openNewTimer">go</button>
    </div>
  </div>
</div>
</template>

<script>
import {FRONTEND_URL} from "@/constants/urls";
import {copy, open, reload, openInNewTab} from "@/utils/utils";

export default {
  name: 'Info',
  computed: {
    accountIdPresent() {
      return this.$store.getters.accountId != null;
    },
    createTimerLink() {
      return FRONTEND_URL + "/acc";
    },
    shareTimerLink() {
      return FRONTEND_URL + "/acc/" + this.$store.getters.accountId;
    },
  },
  methods: {
    copy(elementId) {
      return copy(elementId);
    },
    openNewTimer() {
      openInNewTab(this.createTimerLink);
      reload();
    },
    openCurrentTimer() {
      open(this.shareTimerLink);
    }
  }
}
</script>

<style scoped>
.info {
  text-align: left;
}
.first {
  margin-top: 0;
}
.small-wrapper {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
  height: auto;
}
button {
  width: 50px;
}
</style>

