<template>
<div class="box small-wrapper small-click-wrapper"
     :class = "isCurrentActor?'current':''"
     @click.stop="start">
  <div class="part">
    {{actor.name}}
  </div>
  <div class="part">
    {{ lastPassedTime }} / {{ passedTime }}
  </div>
  <div class="part">
    <DeleteButton :delete-function="deleteActor"></DeleteButton>
  </div>
</div>
</template>

<script>
import Actor from "@/classes/actor";
import {displayAsTime} from "@/utils/utils";
import DeleteButton from "@/components/DeleteButton";

export default {
  name: "Box",
  components: {DeleteButton},
  props: {
    actor: Actor
  },
  data() {
    return {
    }
  },
  computed: {
    isCurrentActor() {
      return this.actor.id === this.$store.getters.currentActorId;
    },
    lastPassedTime() {
      return displayAsTime(this.actor.lastPassedTime);
    },
    passedTime() {
      return displayAsTime(this.actor.passedTime);
    }
  },
  methods: {
    start() {
      if (this.isCurrentActor) {
        console.log("This actor is the current actor! Counting will stop!");
        this.$store.dispatch("stop");
      } else {
        console.log("This actor is NOT the current actor! Counting for current actor will stop and start for this one!");
        this.$store.dispatch("start", this.actor.id);
      }
    },
    deleteActor() {
      this.$store.dispatch("deleteActor", this.actor.id);
    }
  }
}
</script>

<style scoped>
.box {
}
.box:active {
}
.part {
  display: inline-block;
  width: 33%;
}
</style>
