<template>
  <div class="delete-button-wrapper">
    <button class="delete-button"
            :class = "{red: clicked}"
            @click.stop="click">
      remove
    </button>
    <div class="popup" v-if="clicked" @click.stop="">
      Remove? Click again!
    </div>
  </div>
</template>

<script>
export default {
  name: 'DeleteButton',
  props: {
    deleteFunction: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      clicked: false
    }
  },
  computed: {
  },
  methods: {
    click() {
      if (this.clicked) {
        this.clicked = false;
        this.deleteFunction();
      } else {
        this.clicked = true;
        setTimeout(() => { // todo wenn man mehrere schnell nacheinander loescht lauft der timer des bereits geloeschten weiter und deaktiviert das loeschen vom naechsten
          this.clicked = false;
        }, 3000);
      }
    },
  },
}
</script>

<style scoped>
.delete-button-wrapper {
}
.delete-button {
  width: 60px;
}
.red {
  background: #c0381a;
  color:white;
}
.red:hover {
}
.popup {

}
</style>