<template>
<div class="add small-wrapper">
  <div class="add-content">
    <input class="actor-name-input" type="text" v-model="actorName" placeholder="please enter name">
    <button class="button" @click="newActor">add</button>
  </div>
</div>
</template>

<script>
export default {
  name: "NewActor",
  data() {
    return {
      actorName: "",
      popup: false
    }
  },
  methods: {
    newActor() {
      if (this.actorName === "") {
        return;
      }
      this.$store.dispatch("newActor", this.actorName);
      this.actorName = "";
    },
  }
}
</script>

<style scoped>
.add {
}
.add-content {
  margin: auto;
}
.actor-name-input {
  width: 120px;
}
.popup {
  transform: translate(50%, 0);
}
</style>
