<template>
<div class="small-wrapper small-click-wrapper"
     :class = "isStopped?'current':''"
     @click="stop">
  <span class="text">
    pause
  </span>
</div>
</template>

<script>
export default {
  name: "PauseBox",
  computed: {
    isStopped() {
      return this.$store.getters.stopped;
    }
  },
  methods: {
    stop() {
      this.$store.dispatch("stop");
    }
  }
}
</script>

<style scoped>
.text {
  margin: auto;
}
</style>
