/*
Colours
#B83356
#F5F0AE
#FA0A49
#5BCFF5
#1086AD
*/

body {
    margin: 0;
    padding: 0;
}

button {
}
button:hover {
    cursor: pointer;
}

.content {
    margin: auto;
    padding: 0 2px 5px 2px;
    max-width: 500px;
}
.wrapper {
}
.small-wrapper {
    display: flex;
    align-items: center;

    height: 52px;
    padding: 0 15px 0 15px;

    border-radius: 3px;

    background-color: #5BCFF5;
}
.small-click-wrapper {
    margin: 0 0 15px 0;

    border-radius: 20px;
    border-style: groove;
    border-color: #1086AD;

    cursor: pointer;
}
.small-click-wrapper:hover {
}
.small-click-wrapper:active {
}

.current {
    border-color: #000000;
    box-shadow: 3px 3px 10px 1px #000000 inset;
}

.popup {
    background: #c0381a;
    color:white;
    padding: 6px 6px 6px 6px;
    line-height: 1.2;
    position: absolute;
    border-radius: 3px;
    transform: translate(0px, 5px);
}
