<template>
  <div id="app">
    <div id="nav">
      <router-link :to="{ name: 'Home', params: { accountId: this.accountId }}">timer</router-link>
      <div class="right-router-link">
        <router-link :to="{ name: 'Info', params: { accountId: this.accountId }}">info</router-link>
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  computed: {
    accountId() {
      return this.$store.getters.accountId;
    }
  },
  created() {
  },
  mounted() {
    document.onreadystatechange = () => {
      if (document.readyState === "complete") {
        this.$store.dispatch("connect");
      }
    }
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  height: 50px;
  max-width: 500px;

  margin: auto auto 20px auto;
  padding: 0 5px 0 5px;
}
#nav a {
  display: table-cell;

  color: black;
  text-decoration:none;

  width: 204px;
  max-width: 204px;

  padding: 15px 15px 15px 15px;

  background-color: #5BCFF5;

  border-radius: 0 0 20px 20px;
  border-style: groove;
  border-color: #1086AD;

  cursor: pointer;
}
#nav a.router-link-active {
  border-color: #000000;
  box-shadow: 3px 3px 10px 1px #000000 inset;
}
.right-router-link {
  display: table-cell;
  padding: 0 0 0 20px;
}
</style>
